
/* Genel Ayarlar */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
}

/* Header ve Navigation Bar */
.top-nav_bar {
    border-bottom: 1px solid #e7e9fc;
}

.div-header {
    display: flex;
}
 

.container {
    padding: 0 15px;
    width: 1158px;
    margin: 0 auto;
}

.studio-logo {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.studio-s {
    color: #2e2f42;
    letter-spacing: 0.03em;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list li:first-child {
    padding: 24px 0;
}

.studio-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.studio-li:hover,
.studio-li:focus {
    color: #404bbf;
}

/* İletişim Bilgileri */
.nav-adress {
    display: flex;
    gap: 40px;
}

.address-c {
    font-style: normal;
}

.adress-li {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress-li:hover,
.adress-li:focus {
    color: #404bbf;
}

/* Section One */
.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}

.h-one-class {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;

}

/* Button */
.order-bt {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border:none;
    border-radius: 4px;
}

.order-bt:hover,
.order-bt:focus {
    background-color: #404bbf;
}
/* Section Two */
.section-two {
    padding: 120px 0;
}
.section-two-ul{
    display: flex;
    gap: 24px;
}
.sections_li{
    width: calc((100% - 72px) / 4);
}
.section-h-two{
    margin-bottom: 8px;
}

.visually-hidden{
    
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            clip-path: inset(100%);
            white-space: nowrap;
            border: 0;

}
/* Section Three */
.section-three {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.three-h {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.three-h-two {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-three-ul{
    display: flex;
    gap: 24px;
}

.three-li {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.names {
    padding: 32px 0;
}

.three-p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Section Four */
.section-four{
    padding: 120px 0;
}

.section-four-ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.four-li{
    width: calc((100% - 72px) / 4);
}

.apps {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.four-h {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-transform: capitalize;
    color: #2e2f42;
}

.four-h-two {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.four-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
footer {
    background-color: #2e2f42;
}

.footer-class{
    padding: 100px 0;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.studio_s {
    color: #f4f4fd;
}

